div.container.theme-showcase
    div.row
      div.col-xs-12.col-sm-9
        #map.row(ng-controller='MapCtrl')
        .elevationChart.row(id="elevationChart", ng-controller='ChartCtrl')
      #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas.text-center.stats
        p.mainStat Total distance (km)
        p.mainStatValue {{totalDistance | number:0}}
        div.progress
          div.progress-bar.progress-bar-danger(role="progressbar",aria-valuenow="80",aria-valuemin="0",aria-valuemax="100",style="width: 80%")
          span.sr-only 80% Complete
        p.normalStat Completed distance (km)
        p.normalStatValue {{currentDistance | number:0}}
        p.normalStat Average distance/day (km)
        p.normalStatValue {{totalDistance / daysLeft | number:0}}
        p.normalStat Remaining distance(km)
        p.normalStatValue {{totalDistance - currentDistance | number:0}}
        p.normalStat Estimated days left
        p.normalStatValue {{daysLeft}}
        p.normalStat Money spent so far($)
        p.normalStatValue 4262
    div.row(ng-controller='DayCarouselCtrl')
      div.col-md-12(ng-mouseenter="mouseOverWeek()", ng-mouseleave="mouseOutWeek()")
        carousel.row
          slide(ng-repeat='slide in slides', active='slide.active')
            .dayTile.col-md-1-714(ng-repeat='day in slide.days', ng-mouseenter="mouseOverDay(day)", ng-mouseleave="mouseOutDay(day)")
              .dayTileInner
                .col-md-5.noPadding
                  p.day Day {{day.index + 1}}
                  p.date {{day.date}}
                .col-md-7.dayStats
                  p {{day.distance | number:0}} km
                  p {{day.elevationGain | number:0}} m