.wrapper.container-fluid.theme-showcase
    .wrapper
      .wrapper.col-sm-10.content
        .logoHolder
          .circular.logo.pull-left
            .wheel
              img.wheelImg(src="resource/icons/wheel2.png")
          .titleHolder
            a.projectTitle(href="http://sergiubikesamerica.blogspot.ro/", target="_blank")  Follow my trail
            p.projectTitleSmall As I cross the USA from east to west on my bike
        .wrapper.mapAndChart
          #map(ng-controller='MapCtrl')
            script(type="text/ng-template", id="twitterLargeImage.html")
              img(src="{{url}}")
          .elevationChart(id="elevationChart", ng-controller='ChartCtrl')
          .carouselContainer(ng-controller='DayCarouselCtrl')
            div(ng-mouseenter="mouseOverWeek()", ng-mouseleave="mouseOutWeek()")
              carousel
                slide(ng-repeat='slide in slides', active='slide.active')
                  .dayTile.col-md-1-714(ng-repeat='day in slide.days', ng-click="mouseClickDay(day)", ng-mouseenter="mouseOverDay(day)", ng-mouseleave="mouseOutDay(day)", ng-class="{dayTileSelected: day.isSelected, dayTileCurrent: day.isCurrentDay, dayTileEstimated: day.isEstimate}")
                    .dayTileInner
                      .col-md-5.noPadding
                        p.day Day {{(slide.index * 7) + $index + 1}}
                        p.date {{getMonthStr(day.month)}} {{day.date}}
                      .col-md-7.dayStats
                        p {{day.distance | inKm}} km
                        p {{day.elevationGain | number:0}} m
      #sidebar.col-sm-2.sidebar-offcanvas.text-center
        nav#cl-effect-14.cl-effect-14
          a.donateLink(href="http://soroptimist.galantom.ro/sergiubuciuc1", target="_blank") 
            span(data-hover="Help support a child's education") Help support a child's education
        .stats
          #spinner(ng-hide="loaded")
          div(ng-show="loaded")
            p.mainStat Total distance (km)
            p.mainStatValue {{totalDistance | inKm}}
            div.progress
              div.progress-bar.progress-bar-danger(role="progressbar",aria-valuenow="{{currentDistance *100 / totalDistance}}",aria-valuemin="0",aria-valuemax="100",style="width: {{currentDistance *100 / totalDistance}}%")
              span.sr-only 80% Complete
            p.normalStat Completed distance (km)
            p.normalStatValue(ng-hide="currentDistance") starting soon
            p.normalStatValue(ng-show="currentDistance") {{currentDistance | inKm}}
            p.normalStat(ng-show="dayService.avgPerDay") Average distance/day (km)
            p.normalStatValue(ng-show="dayService.avgPerDay") {{dayService.avgPerDay | inKm}}
            p.normalStat Remaining distance (km)
            p.normalStatValue {{totalDistance - currentDistance | inKm}}
            p.normalStat Estimated days left
            p.normalStatValue {{dayService.estimatedDays.length}}
        .tweets
          a(class="twitter-timeline", height="300", data-dnt="true", href="https://twitter.com/bikeacrossusa", data-widget-id="456736800258535425") Tweets by @bikeacrossusa
          script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");