doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Bike USA
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/theme.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Allan:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Chivo:400,900italic,400italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Jolly+Lodger' rel='stylesheet' type='text/css')


  body
    block body