body {
  background-color: #2d3038;
}

html, body {
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar {
    font-family: 'Carrois Gothic SC', sans-serif;
}

.progress {
  background-color: rgb(82,20,21);
  background-image: none;
}

p {
  margin: 0;
}


